a{
    text-decoration: none !important;
}

/* navbar */
.nav-bg{
    background-image: linear-gradient(to right top, #263d62, #2a507b, #2a6595, #267baf, #1791c8);
}

.nav-title {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 60px;
    margin-left: 200px;
}

.navbar-nav li {
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.nav-log{
    background-color: #263d62;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 200px;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 76px;
    border-radius: 0px 0px 25px 25px;
    background-image: linear-gradient(to right top, #263d62, #2a507b, #2a6595, #267baf, #1791c8);
    text-align: center;
}

/* footer */
.footer-bg{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 50px 50px 0px 0px;
}

.footer-font-title{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.footer-context{
    padding-left: 0px;
}

.footer-context>li{
    list-style: none;
}

.footer-context>li>a{
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
    font-weight: 700;
}

.footer-icon{
    color: white;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.footer-font-company{
    color: white;
    font-size: 14px;
}

.footer-logo{
    height: 200px;
}


/* cart bar */
.cartbar-set{
    font-size: 20px;
    font-weight: 700;
}

.cartbar-set2{
    border: solid 3px #263d62;
}

.start-333 {
    left: 33.3% !important;
}

.start-666 {
    left: 66.6% !important;
}

.cartbar-ball{
    display: inline-block;
    background-color: #1791c8;
    color: black;
    border-radius: 50%;
    font-size: 30px;
    width: 45px;
    text-align: center;
}

.cartbar-ball.active{
    background-color: #263d62;
    color: white;
}